/**
 * @file 评分样式
 */
$ftOrange: #ff6600;

.star {
  @extend %clearfix;
  padding: 5px 0;
  line-height: 1;
}

.comment-star {
  position: relative;
  width: 80px;
  line-height: 1.2;
  float: left;
  font-size: 12px;
  padding-right: 5px;


  .icon-collect,
  .icon-star2 {
    color: $ftOrange;
    font-size: 12px;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }

  .light {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}